@font-face {
	font-family: customFont;
	src: url(Gidole-Regular.otf);
}

body {
	font-family: customFont;
	font-size: 100%;
	width: 250px;
	margin-bottom: 15px;
	background-color: #DDDDDD;
	line-height: 50%;
}

h1 {
	color: #444444;
	text-align: center;
}

h3 {
	color: #666666;
	text-align: center;
}

.form {
	border-width: 1px;
	border-style: dotted;
	border-radius: 5px;
	margin: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 5px;
}

.footnotes {
	font-size: 90%;
}

.footnotes a {
	position: relative;
	bottom: -8px;
	left: 0;
	color: #888888;
}

.footnotes span {
	position: relative;
	bottom: -8px;
	left: 0;
}

.button {
	font-size: 100%;
	float: right;
	border-radius: 3px;
}
